{% extends 'base.html.twig' %}

{% block title %}Error{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}

  <div id="error">
    <div class="fof">
      <h1>Error {{ code }}</h1>
      <p><a href="{{ path("posts_index") }}">go home</a></p>
    </div>
  </div>

{% endblock %}