{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/404.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

  <div id="main">
    <div class="fof">
      <h1>Error {{ code }}</h1>
      <p><a href="{{ path("posts_index") }}">go home</a></p>
    </div>
  </div>

{% endblock %}